    <body>
        <div style="align-content: center;">
            <h1>Log In:</h1>
            <form method="POST">
                <label for="name">Name:</label>
                <input type="text " name="name">
                <label for="pass">Password</label>
                <input type="password" name="pass">
                <input type="submit">
            </form>
        </div>
    </body>