    <div style="text-align: center;">
        <h1 style="color: crimson; text-align:center">
            ¡Welcome!
        </h1>
        <h4 style="color:goldenrod">
            I, Juan José Jaramillo, have read the syllabus we went through in the first class. 
        </h4><br>
        <form action="/form" method="GET">
            <input type="Submit" value="Go 2 Form">
        </form>
        <form action="/register" method="GET">
            <input type="Submit" value="Go 2 Register">
            
        </form>
    </div><br>
    <div style="text-align: center;">
        <ul style="list-style: none; display: inline;">
            <li><a href="/products" style="color: rgb(0, 47, 255);">Products</a></li>
        </ul>
    </div>